:root {
	--background-color: #DBE9EE;
	--body-text-color: #4F6D7A;
	--button-primary-color: #4A6FA5;
	--button-secondary-color: #626D58;
	--button-text-color: white;
	--grid-item-color: #FFE5AF;
	--grid-item-color-focus: white;
	--link-color: #3f69a1;
	--link-color-visited: #166088;
	--link-color-hover: orangered;
	--link-color-active: #489c79;
	--sun-color-start: #edc655;
	--sun-color-middle: #fcffad;
	--sun-color-end: #f76414;
	--header-font-weight: 700;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--background-color);
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	margin: 10px;
	color: var(--body-text-color);
}

h1 {
	font-family: 'Lora', sans-serif;
	font-weight: var(--header-font-weight);
	font-size: 30px;
}

h2 {
	font-family: 'Lora', sans-serif;
	font-weight: var(--header-font-weight);
	font-size: 24px;
}

h3 {
	font-family: 'Lora', sans-serif;
	font-weight: var(--header-font-weight);
	font-size: 18px;
}

a{
	color: var(--link-color);
	transition-duration: 0.2s;
	transition-property: color;
}

a:visited {
	/* visited link*/
	color: var(--link-color-visited);
}

a:hover {
	/* No underlining when hovering over a link*/
	text-decoration: none;
	color: var(--link-color-hover);
}

a:focus {
	/* No underlining when link targeted by keyboard*/
	text-decoration: none;
}

a:active {
	/* selected link */
	color: var(--link-color-active);
}

button,.button {
	/* overwrites browser defaults and resets the boarder*/
	border:  none;
	/* takes the font from the outer container */
	font-family: inherit;
	/* styles the background color, font color, and text decoration (underline, etc.) of the button */
	background-color: var(--button-primary-color);
	color: var(--button-text-color);
	text-decoration: none;
	/* adds spacing to the button*/
	padding:  10px;
	border-radius: 3px;
	/* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	transition-duration: 0.2s;
	transition-property: opacity;
	width: fit-content;
	height: auto;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
/*lets the mouse appear as a hand when hovering over the button */
	cursor: pointer;

  /* reduces the opacity of the button to 80% */
	opacity:  0.8;
	width: fit-content;
	height: auto;
}

/*To make the link-button text always white*/
.button:active {
	color: var(--button-text-color);
	width: fit-content;
	height: auto;
}

/*To make the link-button text always white*/
.button:visited {
	color: var(--button-text-color);
	width: fit-content;
	height: auto;
}

.button__secondary {
	background-color: var(--button-secondary-color);
	color: var(--button-text-color);
	width: fit-content;
	height: auto;
}

.navigation-list__item--active {
	text-decoration: none;
}

form {
    width: 500px;
}

label {
    display: inline-block;
    width: 100px;
    vertical-align: top;
}

input {
    display: inline-block;
    width: 175px;
}

.profile__portrait {
	float: left;
	width: 250px;
	height:  auto;
	margin-right:  40px;
	border-radius: 50%;
}

.page-footer {
	clear: both;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.profile {
	max-width:  700px;
	margin:  0 auto;
	text-align: center;
}

.page-header {
	display: flex;
	width: 100%;
	align-items: center;
	padding: 20px;
}

.page-header__item {
	flex: 0 1 200px;
	height: 70px;
}

.page-header__item:last-child {
	flex-grow: 1;
	text-align: right;
}

.navigation-list {
	list-style-type: none;
}

.navigation-list li {
	display:  inline-block;
	margin-left:  15px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

/* grid fallback */
.grid__item {
	padding-left: 10px;
	vertical-align: top;
	display: inline-block;
 	width: 33%;
}

.grid__item:hover,
.grid__item:focus {
	/*lets the mouse appear as a hand when hovering over the button */
	cursor:  pointer;
	/* reduces the opacity of the button to 80% */
	transform: scale(1.05, 1.05);
	background-color:  var(--grid-item-color-focus);
}

@supports (display: grid) {
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
		margin: 0;
	}

	.grid__item {
	    background-color: var(--grid-item-color);
	    width: auto;
	    min-height: auto;
	    margin: 0;
	}

	.grid__item:last-child {
		grid-column: 3 / 3;
		grid-row: 1 / 3;
	}
}

.about-main {
	clear: both;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin:  0 20% 0 20%;
}

#about-table {
	margin: 0 15% 0 15%;
}

#about-picture {
 	clear: both;
 	display: block;
 	margin-left: auto;
  	margin-right: auto;
 	text-align: center;
 	width: 700px;
	height:  auto;
 }

.button {
 	clear: both;
 	display: block;
 	margin-left: auto;
  	margin-right: auto;
}


@media all and (max-width: 500px) {
	.grid {
		grid-template-columns: 1fr;
	}
}

@media all and (min-width: 500px) and (max-width: 750px) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (max-width: 750px) {
	.grid {
		grid-gap:  10px;
	}

	.grid__item:last-child {
		grid-column:  auto / auto;
		grid-row: auto / auto;
	}

	h1 {
		font-size: 22px;
	}
}

@keyframes color-change {
	0% {
    fill: var(--sun-color-start);
	}
	50% {
	  fill: var(--sun-color-middle);
	}
	100% {
	  fill: var(--sun-color-end);
	}
}

.sun {
	animation-name: color-change;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

@keyframes cloud-move {
	from {
  	transform: translate(0, 50px);
	}
	to {
  	transform: translate(200px, 50px);
	}
}

.cloud-front {
	animation-name: cloud-move;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 65px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.contact {
	display: grid;
  	justify-content: center;
  	align-content: center;
  	gap: 4px;
  	grid-auto-flow: column;
}

.contact-grid__item {
	display: block;
 	padding: 20px;
 	width: 300px;
 	height: auto;
 }

#contact-grid__form {
	margin: 70px	0	0	0;
}